[2019-06-08 19:17] c0deless opened #1 "Install"
Hello , how do i install ?

[2019-08-08 11:33] hongweipeng commented on #1
+1

[2021-01-03 01:51] samc621 commented on #1
Hi, sorry for the delay. This repository was not being actively maintained for a while. I’ve recently made some wholesale updates. Feel free to take a look at the revisions, including the installation instructions in the README, and let me know if you have any questions or concerns.

[2021-01-03 02:26] #1 closed

[2021-02-09 16:57] pratikbendre opened #2 "How to run this ?"
hey, you can please explain how to run this with some documentation or explaination.

Thanks In Advance.

[2021-02-12 23:04] moaIIim opened #3 "Issues with database setup + env file setup"
Hello!

Firstly, id like to thank you for making this bot system open source.

I'm on a M1 Mac running MacOS Big Sur.

I've been trying to startup the bot to test, but I've been receiving this error when running `npx knox migrate:latest`

<img width="682" alt="Screenshot 2021-02-12 at 22 57 29" src="https://user-images.githubusercontent.com/69584431/107831463-0ca33580-6d86-11eb-9b6e-909748b49d34.p

[2021-02-22 06:04] samc621 commented on #2
Hi @pratikbendre thanks for opening this issue, and sorry for the delay in getting back to you. I have been busy working on the Supreme integration following the relaunch of their site last week, and also making some fixes for the captcha solving on their site.

Did you take a look at the documentation in the README? I've tried to lay out the step by step setup as best I possibly can there, but if

[2021-02-22 06:07] samc621 commented on #3
Hi Omar,

Thanks for opening this issue. Based on the error you've shown, it looks like Postgres is not running on port 5432 (the default port) on your local machine. Have you installed and started it? I am also on the M1 Mac and used [this](https://jeannot.medium.com/how-to-install-homebrew-on-apple-silcon-m1-with-big-sur-1c02293f9d40) guide to install it. Then you can run with it with brew servi

[2021-02-22 06:16] samc621 commented on #3
Regarding the ENV file, here are some dummy values with an explanation:

[code]

[2021-02-22 06:18] samc621 commented on #3
Once you start the node server, you can make requests to the APIs on your local machine. Let's say you run the node server on port 8000, you can send requests to localhost:8000. Did you check out the Postman documentation in the README? There's documentation with example requests and responses for each endpoint, including for the proxies API. Let me know if you have any specific questions about th

[2021-02-22 15:02] moaIIim commented on #3
Hello again!

Thank you so much for the help with setting up the server. I've installed postgressql and now everything is working as it should be. I also looked at the postman api docs and now understand what each API is meant to do.

I'll be closing the issue as I have no further questions.

Thanks again,
Omar

[2021-02-22 15:02] #3 closed

[2021-03-01 12:08] mattia93cz opened #4 "other countries"
Does it work on the Italian site?

[2021-03-01 16:36] Pyreaus opened #5 "Not an issue"
Hello, I saw your site and it seems that it's for professional enquiries so I didn't want to contact you through that, can we speak directly through something like discord or xmpp?

If yes, you can send a privnote with the info.

Thanks.

[2021-03-03 12:43] Pyreaus commented on #5
?

[2021-03-06 00:17] samc621 commented on #5
Hi, you can contact me on Telegram @ samc621

[2021-03-06 00:18] samc621 commented on #4
I have not tested it, but for the Footsites and Adidas, it should.

[2021-03-06 00:18] samc621 commented on #4
Feel free to open another issue if you encounter any errors.

[2021-03-06 00:18] #4 closed

[2021-03-06 00:18] #2 closed

[2021-03-06 00:18] #5 closed

[2021-03-08 11:40] soermejo opened #6 "Does this work on windows?"
Hello, just wondering if this tool works on win as well.

[2021-03-09 13:08] bryank91 commented on #6
yes it should. just need PostgreSQL and node to be installed on your machine.

[2021-03-10 15:16] swassapparel1 opened #7 "Just a question regarding your bot"
Do you have any discord or on how I could contact samc62?

[2021-03-17 01:25] samc621 commented on #6
Hi @soermejo, yes @bryank91 is right! Feel free to open another issue if you are having trouble getting it running. I am also planning to Dockerize this in the near future.

[2021-03-17 01:25] #6 closed

[2021-03-17 01:26] samc621 commented on #7
Hi @swassapparel1 thanks for reaching out! Please feel free to contact me on Telegram @ samc621.

[2021-03-17 01:26] #7 closed

[2021-03-19 10:16] soermejo opened #8 "Help - configuration"
Do we need to create a db before and then set .env variables?
what is PORT=.. ? referred to and is it mandatory to set?

Also only knex is not working. I'm using "npx knex ..command" (i never used it, don't know if that's right)

I also wonder... wouldn't it be better and faster to use only pure requests instead of running multiple instances of puppeter which is way more cpu consuming and slower.

[2021-03-19 15:32] bryank91 commented on #8
not the developer but PORT refers to where the API will be hosted on.
so if you use PORT=6000, you can hit the api at localhost:6000

you will need to install knex globally
https://gist.github.com/NigelEarle/80150ff1c50031e59b872baf0e474977

[2021-03-22 00:32] nislo7 opened #10 "Error When running knex migrate:latest"
**"knex migrate:latest"** gives:
_Error: knex: Required configuration option 'client' is missing._

[2021-03-22 20:38] prossmeier commented on #10
Hello -

I am not the dev. - but what is happening is that you have not exported a configuration file.

In the example - you will create a .env file called .env.local
then export that file `export NODE_ENV=local`

Then when you run `knex migrate:latest` - it will use the .env.local confg.

You can see here in my output the same thing happened.  Once I exported my .env.local - knex know to try to c

[2021-03-23 05:55] rk2592000936 opened #11 "Could this bot support dickssports.com?"

[2021-03-25 14:26] samc621 commented on #10
Hi @nislo7, yes @prossmeier is right - thanks for that! You need to make sure Postgresql is up and running, and that you configuration in `.env.local` is correct. If so, when you run `knex migrate:latest`, `knex` will know which DB to run the migrations on. I am closing this for now, but feel free to reopen if you're having further issues.

[2021-03-25 14:26] #10 closed

[2021-03-25 14:30] samc621 commented on #8
Hi @soermejo, yes @bryank91 is correct - `PORT` in the env variables is the port the Node server will run on. So if you set `PORT=6000`, you will send API requests to `localhost:6000`.

As for `knex`, I do not think you need to install it globally. It's in the `package.json` so when you run `npm i` or `npm install`, it should be installed. Please refer [here](https://knexjs.org/) for a basic guide

[2021-03-25 14:30] #8 closed

[2021-03-25 14:37] rk2592000936 commented on #11
@samc621 I wonder if the current bots, such as KODAI AND CYBER, is now accessed through the api interface？ So they can cook at amazing speeds. What's your opinion about these bots.

[2021-03-26 21:07] prossmeier commented on #11
Hello @samc621 - I am using this project to work with my son (12 years old) to both share in the love of the shoe community as well as get us some node/javascript training.

I am well versed in go/python/linux/networking and a good number of noSql databases as well as infrastructue management (ansible/docker/terraform) - but need to work on my web/javascript/node/html/css knowledge - so I would lo

[2021-03-26 21:24] samc621 commented on #11
@prossmeier that's awesome to hear, thanks for sharing! I started programming around the same age as your son is now.

I think wiring up a UI to the APIs would be an awesome feature to have. Were you thinking of using React, Angular, Vue, or another JS tool? I can work on "Dockerizing" this app if that will help you with development.

[2021-03-26 21:43] prossmeier commented on #11
Thanks @samc621

- For UI - I was thinking React.  For the docker piece - I will contribute and then you can check the pull request :)

[2021-03-26 21:50] samc621 commented on #11
@prossmeier I like the idea of configuring the full suite (Node App, Postgres, and eventually the React App) with Docker-Compose. If that sounds ok, let me know. I'll be on the lookout for your PR!

[2021-03-29 17:16] jerome102 opened #12 "Error: knex: Required configuration option 'client' is missing."
I'm on windows cmd and am getting this error after running 'npx knex migrate:latest'
all the steps before were successsful
My dir is set to your program file C:\Users\jerom\OneDrive\Desktop\SneakerBot-master>

Error: knex: Required configuration option 'client' is missing.
     at new Client (C:\Users\jerom\OneDrive\Desktop\SneakerBot-master\node_modules\knex\lib\client.js:54:11)
    at Knex (C:\U

[2021-03-29 17:24] #12 closed

[2021-03-29 17:39] jerome102 opened #13 ".env.local inputs"
Hi there, I wanted to thank you for your project as I was making a nike bot with selerium and it would get flagged after about 10 mins of running so finding your bot really pleases me as it proves it is possible to make a good bot with enough time and effort :)
For these inputs below I understand the card and API key, but for email and DB would that be sites username and password login?
Also DB/ e

[2021-03-29 19:12] samc621 commented on #13
Hi @jerome102 thanks for mentioning that! I will say that there is a lot we can do to avoid antibot software, and the goal is always to look "as human as possible." This is why we run headful Chrome sessions, use natural delays between certain interactions, and more. We still encounter captchas sometimes, but we can handle them.

As for the env variables, the DB variables are based on your Postgre

[2021-03-29 19:12] #13 closed

[2021-03-30 16:34] jerome102 opened #14 "Task setup"
Hi there,
When setting up the tasks, the base URL refers to "https://nike.com" in my case I'm guessing,
otherwise I'm getting error with {baseUrl} syntax
[code]
after running this I am getting the sites complete HTML  it looks like, quite different from the example response which was looking nice and neat aha
Is it running correctly?
Also I wasn't running them in a specific location, shouldn't be

[2021-03-30 20:58] samc621 commented on #14
Hi @jerome102, these requests are to be sent to the Node/Express API server you are running locally. So, if you are running the server on `PORT` 8000 on your local machine, the `baseUrl` would be `localhost:8000` or `127.0.0.1:8000`. The requests are not sent to Nike.com or any third party site. Please let me know if an

[2021-03-30 20:58] #14 closed

[2021-04-10 17:31] prossmeier commented on #11
Looks like you beat me to docker - I am still just trying to get a complete checkout on a footsite - I keep getting stuck on a click object error - think on style index. Thank you for all your work on here

[2021-04-10 18:11] prossmeier opened #16 "Cannot read property 'click' of undefined"
I keep running into this when I am trying to test the code to do a purchase of a standard shoe

[code]

My task looks like this

[code]

From the line of code - looks like the issue is with the style index?

Any help would be appreciated

[2021-04-11 13:02] samc621 commented on #11
@prossmeier yes I had a couple of Linux users who were reporting issues so it motivated me to get that done. Please let me know if you have any issues with running it with Docker. I also saw your other open issue, and I will address that now.

@rk2592000936 I am going to go ahead and close this issue for now. Feel free to open another issue for any new questions or concerns.

[2021-04-11 13:02] #11 closed

[2021-04-11 13:04] samc621 commented on #16
Hi @prossmeier, thanks for opening this issue. Looks like there might be a selector change or something like that. I'll go ahead and get that fixed now, and I'll update you here when that's done.

[2021-04-11 15:47] samc621 commented on #16
Hi @prossmeier sorry for the delay, I got distracted with some other bugs. I am closing this issue with this commit [here](https://github.com/samc621/SneakerBot/commit/a33e30f48d22dadf9e29f23166ac0758b29c98e3).

Please feel free to open another issue if anything else comes up.

[2021-04-11 15:47] #16 closed

[2021-04-11 16:46] prossmeier commented on #16
Thanks @samc621 - thank you so much!  I will check this out later today and let you know!

You da man!

[2021-04-15 03:09] TheSwindler44 opened #17 "Command Issue"
Hi,
I'm attempting to run the following command as mentioned in the documentation:
`docker run -p 5900:5900 8000:8000 --env-file .env.docker sneakerbot`

However, I am receiving the following error:
`Unable to find image '8000:8000' locally
docker: Error response from daemon: pull access denied for 8000, repository does not exist or may require 'docker login': denied: requested access to the resou

[2021-04-15 15:37] samc621 commented on #17
Hi @TheSwindler44, thanks for opening this issue! It looks like there is indeed a typo in the documentation. We need the `-p` flag for each set of ports we want to expose when using `docker run`. I've updated that [here](https://github.com/samc621/SneakerBot/commit/d5fdea5247fc48bf303a9a87ac69a2f9aefe9556), and am closing this issue. Please feel free to open another issue if anything else comes up

[2021-04-15 15:37] #17 closed

[2021-04-18 01:01] TheSwindler44 opened #18 "Cannot read property of 'client' of undefined!"
Any suggestions on how to correct this error?

![error_1](https://user-images.githubusercontent.com/36936042/115130657-72e34900-9fbf-11eb-8435-1b902c43851e.JPG)
![error_2](https://user-images.githubusercontent.com/36936042/115130659-72e34900-9fbf-11eb-89cf-5ba922534b9b.JPG)

I've executed `knex migrate:latest` and `knex seed:run` without any problems. I run into the problem when running `docker ru

[2021-04-18 02:39] amad1101 commented on #18
I am having similar issue with docker-compose. I am getting the following
`KnexTimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?
`
I am on the latest ubuntu.

[2021-04-18 11:52] samc621 commented on #18
Hi @TheSwindler44, unfortunately, `export NODE_ENV=docker` won't set the `NODE_ENV` in the docker container. So I think I will need to add `--env NODE_ENV=docker` to the `docker run` script. I've added that [here](https://github.com/samc621/SneakerBot/commit/7597530b8707fb03c2b93780365a2c7e3d1a09c5).

I hadn't encountered this because I have mainly been running it with Docker Compose. Thank you fo

[2021-04-18 11:57] samc621 commented on #18
Hi @amad1101 when running this with Docker Compose, `knex` will use the DB configuration in `.env.docker`. Can you ensure that you've set the right DB host and port? The `DB_HOST` should be `postgres` since Docker-Compose can recognize that name as an alias for the `postgres` service (within the same network). And the `DB_PORT` should be `5432` (the default set by Postgresql). The `DB_USERNAME`, `

[2021-04-24 16:54] samc621 commented on #18
I have added some more instructions about env configuration with this [commit](https://github.com/samc621/SneakerBot/commit/349e1e3b4bc1d8346b195057a24431d55d75b965), and am now closing this issue. Feel free to open a new ticket if any issues persist.

[2021-04-24 16:54] #18 closed

[2021-05-01 09:44] bryank91 opened #19 "Is Address Line 2 supposed to be compulsory?"
How to replicate:
![image](https://user-images.githubusercontent.com/2115372/116778479-bac89c80-aaa4-11eb-84cd-b32a843c6426.png)
Blank out address_line_2  and send a PATCH request to address/{id}

Suggestions:
Allow the user to not define anything as it is not required

[2021-05-01 20:34] samc621 commented on #19
Hi @bryank91 thanks for bringing this to my attention! I thought I had handled it a while back. Here is a [commit](https://github.com/samc621/SneakerBot/commit/8b517b4a81548c73d6093104fb2776602d9a5b4f) which will allow an empty string ('') for `address_line_2`. I am going to keep the `not-null` constraint on the field in Postgres.

I am closing this issue for now, please feel free to open a new on

[2021-05-01 20:34] #19 closed

[2021-06-03 08:16] DexterTech111 opened #23 "Great tool, Questionable reliability"
Nice work,  I really appreciate this great tool. the issue is that will it be efficient to compete against bots that use API requests rather  than headless browser like puppeteer ?

[2021-06-03 12:19] samc621 commented on #23
@DexterTech111 thanks for opening this issue, it one that I'll keep open for others to see. I encourage users of this bot to put it to the test, see how it performs. If you are having any trouble, open an issue describing the problem, steps to reproduce, etc. I'm always open to trying to improve the performance, and am hoping for individual contributions as well. Perhaps in the future there can be

[2021-06-03 20:14] DexterTech111 commented on #23
thanks i'd also try to support this open source as much as i can though

[2021-06-05 05:20] carlInvoker666 opened #24 "Windows issues?"
Sorry I am new here and I guess this is a noob question but, is there a problem running this code on windows platform?

and another noob question, hoping you will answer..

what IDE you used to build this project and yeah what's the OS needed? " Windows or MAC...
Thank you! much love with your work.

[2021-06-05 20:01] samc621 commented on #24
Hi @carlInvoker666, can you report any specific issues you're running on Windows? Perhaps a stack trace, steps to reproduce, etc. I will need more information to help you. I develop with VSCode on Mac OS but this should work across all platforms, especially with the Docker/Docker Compose version.

[2021-06-05 20:03] 13ROY commented on #24
Hi @carlInvoker666 , I got this running locally on my windows laptop this week (not using docker), as @samc621 please provide more information, I will do my best to help.

[2021-06-05 20:43] carlInvoker666 commented on #24
I'm currently using my windows. and Im using VSCode. I am having a hard time reproducing the project. Can you help me out please? Thanks again, much love

[2021-06-05 20:47] carlInvoker666 commented on #24
A steps to reproduce would help me alot. Thanks again 😃

[2021-06-05 21:21] 13ROY commented on #24
Hi @carlInvoker666 , as there are a few steps to get your local environment configured, have you read and followed the `README.md` at the root of the repo? If so, what output are you getting when you try to run the project?

[2021-06-06 08:04] carlInvoker666 commented on #24
Thanks @13ROY for the respond, I did read the README.md and I'm not  quite sure that I'm doing the right thing to execute the code.
I am having trouble with this step. " Configure environment variables " can you help me out on how I can do this? Thanks again, much love.

[2021-06-06 20:22] 13ROY commented on #24
Hi @carlInvoker666 , have you tried to run the application yet? If so what is the output?
In terms of the environment variables, I took a copy of the `.env.example` file, then called it `.env.local', I then set the NODE_ENV variable in the terminal (windows command) using `$ export NODE_ENV=local`.
Let me know how you get on with this, hopefully this will set you on your way.

[2021-06-07 09:44] carlInvoker666 commented on #24
![Capture](https://user-images.githubusercontent.com/85369689/120995359-e92e4b80-c7b7-11eb-852b-d45bcb2346c5.JPG)
this is the one im facing right now @13ROY... hope you can help me out with this isssue. Thank you so much

[2021-06-07 22:47] 13ROY commented on #24
Hi @carlInvoker666 , this where the app can't find the file you have created with the configuration (e.g `.env.local`).
It is the `NODE_ENV` terminal value that needs to be set to the **same name** as the configuration file, apologies for my previous message, I gave you the unix example to set this value (`export NODE_ENV=local`) , the windows command should be  `set NODE_ENV=local`, does this hel

[2021-06-08 02:00] Diablozone opened #28 ""Not in cart, trying again""
I am running this on windows without docker, and I got the bot to work. it opens up the browser, selects the size and then gets stuck in an endless loop saying "not in cart, trying again".
I am trying to test run on the nike website and in the browser it gives me an error saying

 "We had an issue with your request. If you continue experiencing issues, try refreshing the page.

[ Code: 9F502A89 ]

[2021-06-08 02:15] samc621 commented on #24
@13ROY is exactly on the money, thanks for the help here!

Closing this for now, feel free to open if any new issues occur.

[2021-06-08 02:15] #24 closed

[2021-06-08 02:17] samc621 commented on #28
Hi @Diablozone, thanks for opening this issue. I have seen this error before, however, I've seen the product also add to cart (and it continue to checkout) in the presence of this error. Are you seeing the same?

[2021-06-08 03:23] Diablozone commented on #28
no the product doesnt add to cart. should I keep trying again and again?

[2021-06-08 03:24] Diablozone commented on #28
what happens is that the page keeps refreshing and this error keeps looping. eventually the chromium tab closes automatically

[2021-06-08 03:37] Diablozone commented on #28
can you give some insight into why this error occurs or which part of the code its coming from so that I may be able to look into it further

[2021-06-08 18:03] donghungx opened #29 "Not working using proxy"
For example using proxy like this in footsites.js

await useProxy(page, `http://${encodeURIComponent('SP13296160!a11')}:${encodeURIComponent('399b5e1591')}@142.44.174.205:33128`);

The site is opening fine, but then it display a lightbox SOME THING HAVE BEEN WRONG, then I can't add to cart, and the browser keep download something from the footsite.

but if I modify like this in helpers/cluster.js

[2021-06-09 12:49] samc621 commented on #29
@donghungx can you add some screenshots or a stack trace of the proxy issue you're facing? If it is necessary that we use this arg, we can probably find a workaround, but the proxies had been working for me as-is.

[2021-06-09 13:34] samc621 commented on #28
@Diablozone seems I am seeing the same behaviour, now. There is a 429 error coming from the API when clicking any of the DOM elements for style, size, or ATC button. I am going to need to look into this further and will circle back on it ASAP.

[2021-06-09 14:15] donghungx commented on #29
Hi yes, this is the problem i captured. overall, the "useProxy" seen like connect very slow at the first time. It took like 2 minutes for the website show up.  But if use args it was much faster.

Tried to use this library https://github.com/gajus/puppeteer-proxy, it way faster too, but facing same problem I described above. May footsites just changed recently?

<img width="789" alt="Screen Shot 2

[2021-06-09 15:09] Diablozone commented on #28
Sure, Thanks a lot!

On Wed, Jun 9, 2021 at 7:04 PM Samuel Corso ***@***.***>
wrote:

[2021-06-09 18:55] authsoftware opened #33 "No sites work and proxy doesnt work"
I have tried to use proxies but none worked and it keeps using local to open the sites.
Also I cannot get anything to actually checkout, footlocker keeps saying product not found on both product id and link, nike wont add to bag, shopify keeps giving an error of
[code]
on champs it is stuck on closing modal.
Supreme this is the error I receive
[code]

[2021-06-10 15:37] samc621 commented on #28
@Diablozone just updating this here, the error on the `nike` integration appears to be a CORS issue. You will see some of the requests failing in the Chrome devtools network tab. I've started looking into it but haven't gotten to the bottom of it, yet. It just started happening afaik.

[2021-06-10 15:48] Diablozone commented on #28
Does this mean that of I use a firefox webdriver the issue might be solved?

On Thu, Jun 10, 2021, 21:07 Samuel Corso ***@***.***> wrote:

[2021-06-12 23:46] samc621 commented on #29
Hi @donghungx, thanks for the update. I found some issues with `puppeteer-page-proxy` and tried updating all relevant dependencies, to no avail. So, I implemented the proxy connection as you suggested on this commit [here](https://github.com/samc621/SneakerBot/commit/7a0cbe2f0ad36fa69ee655894c5b7ea9cd84f6fb). Please test the latest code on `master` and let me know if the proxy connection issues pe

[2021-06-12 23:47] samc621 commented on #33
@authsoftware thanks for opening this ticket. Regarding the proxy issues, please see #29.

[2021-06-13 01:38] samc621 commented on #33
Can you also provide some details to reproduce the issue on Footlocker? Preferably a `Task` object I can test with? I cannot reproduce it from my end.

I recently fixed an unrelated issue with the footsites [here](https://github.com/samc621/SneakerBot/commit/fd386b68fcd5a4c8983636ccdaf824bd7c02e5fa).

[2021-06-13 01:42] samc621 commented on #33
I am also not having any issues with `shopify` or `supreme`. Please provide a `Task` object for testing.

[2021-06-13 17:00] authsoftware commented on #33
Yes I will send you the tasks I have so you could test them on Foots, Shopify, Supreme

[2021-06-13 17:03] authsoftware commented on #33
Supreme
[code]

Shopify
[code]

Footlocker
[code]

[2021-06-13 17:27] authsoftware commented on #29
I tried using the latest code on master for the proxy connection but I receive this error on foots, have not tested on other sites,
[code]

[2021-06-13 23:21] samc621 commented on #29
@authsoftware sounds like a proxy authentication issue, please see this [issue](https://github.com/puppeteer/puppeteer/issues/2234).

[2021-06-15 02:22] Teendeland opened #35 "How to use to check out launch day nike"
How to use to check out launch day nike when it need to be member to buy thing on launch day?

[2021-06-15 11:49] samc621 commented on #28
@Diablozone its definitely worth a try.

[2021-06-15 11:51] samc621 commented on #35
@Teendeland thanks for this issue. I haven't added support for login on `nike` yet, but it's something I'm planning to do. I'm going to leave this open, if you or anyone else does it first, please feel free to open a PR.

[2021-06-15 11:55] Diablozone commented on #28
Doesnt work. Also, I tried a couple of Shopify sites but they just don't
open. The new chromium tab opens and closes automatically

On Tue, Jun 15, 2021, 17:20 Samuel Corso ***@***.***> wrote:

[2021-06-15 12:54] samc621 commented on #33
@authsoftware using a `style_index` and `size` of `null` will not work for these products. For products without more than one style, you can use `0` for the `style_index`. I would apply the same for the `shipping_speed_index`. But you will still need to apply a `size`.

The reason I made these fields nullable is for site integrations or individual products where they are N/A e.g no shipping speed

[2021-06-15 20:34] authsoftware commented on #33
Okay thank you, I will test that and let you know

[2021-06-15 20:46] authsoftware commented on #33
Okay so after fixing that and fixing the proxies issue, this is the error I have now
[code]

task object
[code]

[2021-06-16 01:44] samc621 commented on #28
@Diablozone can you provide a sample `Task` object for me to test with? I was recently testing on Kith and some others and it was working fine.

[2021-06-16 01:46] samc621 commented on #33
@authsoftware thanks for this, I will test with this `Task` object.

I have seen this error from puppeteer before, particularly when using headless mode. Some websites will reject the headless user agent so we need to manually set the user agent when the page is created. I will verify that this is the issue and then put up a quick fix for it.

[2021-06-16 15:09] samc621 commented on #33
@authsoftware this looks to be the case, can you confirm that it is working for you in headful mode?

[2021-06-16 17:58] authsoftware commented on #33
@samc621 Did you update the repo so I could update my files or do I need to make it in headful mode?

[2021-06-17 13:36] authsoftware commented on #33
@samc621 Yes it is happening to me in all sites

[2021-06-17 14:00] samc621 commented on #33
Based on the selector in that stack trace, it sounds like the modal which sometimes appears on the footsites is not appearing for you. Using `timeout: 0` on that selector might help. But this promise is not `await`ed so its weird that it wouldn't at least attempt to ATC before this error occurred. I might need to see a video of what you are seeing.

I understand that you're seeing this behaviour a

[2021-07-04 17:32] labboy0276 opened #38 "Validation Failed"
Thank you for creating this bot.

I got the server up and running natively on DigitalOcean to test it out.  When I try to post data to the tasks endpoint with your example:

[code]

I am getting this error:

[code]

The server also outputs this:

[code]

Get request work ok:

[code]

Any thoughts on this, what am I doing wrong?

[2021-07-05 11:30] samc621 commented on #38
Hi @labboy0276, thanks for opening this issue with detailed information. Another user had ran into this issue before, and I thought I had updated the API docs accordingly, but I am not seeing the change there. The raw payload you are using is being sent as a string, not a JSON because you need to add this header to your request:

`--header "Content-Type: application/json"`

It looks like I only ad

[2021-07-05 11:31] samc621 commented on #38
I am updating the docs now, and will close this issue. Feel free to open another one if any issues persist.

[2021-07-05 11:31] #38 closed

[2021-07-05 16:52] labboy0276 commented on #28
@samc621 I am seeing this with your API example:

[code]

Side question, what is style_index and is it just the style like Best 10-18 or Best 1-9 in the example url above?

[2021-07-05 18:04] labboy0276 commented on #33
I am seeing this error as well (on headless) @samc621:

[code]

Here is the task JSON I used:

[code]

Is there a way to set the user agent dynamically with somehow?  Maybe that is still the issue?

[2021-07-05 20:46] labboy0276 commented on #33
After playing around this a little more, I was able to get past the error with the following:

1. Made sure my proxies were being used. (I had burned through the list)
2. Added the following package to my setup: ```user-agents``` && ```puppeteer-extra-plugin-anonymize-ua```
3. I then tweaked the helpers/cluster.js file to look like this:

[code]

This got the timeout errors to go away.  However, l

[2021-07-06 01:39] samc621 commented on #28
Hi @labboy0276, yes I noted this issue a couple of weeks ago. I believe that it is a CORS error, and I haven't gotten around to addressing it yet.

[2021-07-06 01:42] samc621 commented on #33
@labboy0276 thanks for the updates here! There's a lot we can do around randomizing browser fingerprints, and starting with the UA is a great idea. If this has been tested and confirmed to help address a problem you are facing, please feel free to open a Pull Request. I am happy to try it on my end and then merge it as long as it works.

[2021-07-06 01:47] samc621 commented on #33
@labboy0276 as for this error:

[code]

Can you try the suggestion I mentioned above, which is to add `timeout: 0` to the waitFor args?

So line 256 would look like:

[code]

What I think is going on here is that this modal only shows on some of the footsites, but not Champs. Using the default timeout from Puppeteer, it will timeout after 30s, which will break your task midway. But with the timeou

[2021-07-06 13:21] labboy0276 commented on #33
@samc621 I put in that PR.  I didn't have issues with that timeout after I fixed everything I mentioned.  If it does happen again, I can try your suggestion.

[2021-07-06 13:28] samc621 commented on #33
@labboy0276 thanks for that! So just to confirm, this fix is just for the `footsites` issue, right? Or does this address the `nike` issue as well?

[2021-07-06 13:36] labboy0276 commented on #33
@samc621 the user agent issue fixes all sites for peoples who use headless.

[2021-07-08 10:21] cimthog commented on #33
I keep getting Error 429, too many requests, whenever there's a drop.. for footsites.

Anyone knows a way round this?

[2021-07-09 14:59] samc621 commented on #33
@labboy0276 thank you! I am testing that PR now.

[2021-07-09 15:50] samc621 commented on #29
@authsoftware @donghungx @labboy0276 @cimthog I have just opened a [PR](https://github.com/samc621/SneakerBot/pull/40) that should hopefully fix the proxy issues. From my understanding of what's going on, it seems like the sites are blocking certain proxies, so this PR implements some proxy chaining. It's working for me, but I'd like others to verify the change before I merge it onto master. Thank

[2021-07-10 00:42] samc621 commented on #28
@labboy0276 just copying this over here for reference:
https://user-images.githubusercontent.com/38767335/125101214-fa64c380-e0a7-11eb-92dd-cbdb50f2e127.png

[2021-07-13 16:24] donghungx opened #41 "Hi, can this detect waiting room of the footsite and wait until can process the order?"
Hi, can this detect waiting room of the footsite and wait until can process the order?

[2021-07-14 01:24] samc621 commented on #41
It's definitely possible. Right now, I have removed the timeout on the size selector on the footsites, but there's no handling for the site-specific queues there. I will need to work on that when I get a chance. Keeping this open so that you or other can feel free to contribute in this way!

[2021-07-15 18:16] Z1m0 opened #42 "Hi, running the 'npx knex migrate: latest' command keeps giving errors. Could you help me please?"
The error displayed in the console is the following:
"Error: knex: Required configuration option 'client' is missing."

[2021-07-15 18:24] Z1m0 commented on #42
Hello again,
i think i solved by setting the environment variable NODE_ENV with this command:
$env:NODE_ENV = 'local'
Using Powershell

[2021-07-15 19:58] samc621 commented on #42
Yup that sounds like the correct solution. That error almost always means the NODE_ENV wasn't set. Closing this for now!

[2021-07-15 19:58] #42 closed

[2021-07-17 00:35] palter999 opened #43 "Problem running the bot"
Hello I have done all the instructions you have said to do but for some reason when I try to run it on Terminal or on Docker it says there is some error with the code. Can you help me please figure out a way to run the bot and test it out? Thank you

[2021-07-17 01:16] samc621 commented on #43
@palter999 can you paste a stack trace? I will need to see the error in order to help you here.

[2021-07-17 16:30] labboy0276 commented on #28
I am going to throw this here, but haven't tried it yet.

Have you thought about using a header like this @samc621

[code]

I have seen this in other bots for scrapping the interwebz.

[2021-07-17 18:16] samc621 commented on #28
@labboy0276 have you tested this with the Nike issue? Curious if it might help.

[2021-07-17 18:31] labboy0276 commented on #28
negative @samc621 just putting it there as I havent had time to test it out yet.  If someone else can, that would be helpful.

[2021-07-18 13:23] samc621 commented on #28
@labboy0276 I added this:

[code]
But it doesn't seem to be doing the trick. I took a look in the console and it looks like a 429 error (blank response) on this API.
![Screen Shot 2021-07-18 at 9 20 26 AM](https://user-images.githubusercontent.com/38767335/126068682-8b381a07-5208-44b5-bc38-99a191269c5c.png)
![Screen Shot 2021-07-18 at 9 20 43 AM](https://user-images.githubusercontent.com/38767335/

[2021-07-18 13:25] samc621 commented on #28
There is a new captcha on the footsites, I've never repro'd it in the browser but I'm curious if this might help reduce bot detection so that we don't hit it there. I'll give it a go in a bit.

[2021-07-18 16:51] samc621 commented on #28
So it looks like, testing with these headers on the footsites, I got blocked. It took me to a Terms of Service page. Testing without them, I hit the captcha I was expecting.

All in all, I don't think setting these headers is helping much. I will need another approach to both the Nike issue and the footsites captcha.

[2021-07-20 12:43] bryank91 opened #44 "README improvements for Docker"
.sh files have an issue running in windows
a quick workaround is to change the end of line sequence to LF

https://stackoverflow.com/questions/51888625/docker-r-command-not-found-on-windows

More like a heads up as I was having issues running the `docker-compose up` commands in windows due to it referencing a shell file

[2021-07-20 12:52] bryank91 commented on #44
another improvement I can suggest is maybe outline that we need to specify the DB_HOST as the name of the docker-compose server when running docker-compose

[code]

Let me if all these are viable then i can go create a PR

[2021-07-21 20:59] samc621 commented on #44
@bryank91 yes, these are both good suggestions, feel free to put up a PR. The second one will be especially helpful for those who are not familiar with Docker. Feel free to add something to the README that makes that more clear.

[2021-08-04 06:20] Kohlsen commented on #28
Any update on this? @samc621

[2021-08-04 06:24] Kohlsen commented on #28
I did some research on the 429 status code error and from what I got out of it, a 429 is a rate limiter error. Meaning the user sent too many requests at once. Could this be fixed by adding some timeouts to puppeteer?

[2021-08-04 21:43] samc621 commented on #28
@Kohlsen yes, that is indeed the common meaning for a 429 response code. I have tried that, among numerous other things, but to no avail. I keep looking at it when I get a chance, and I think others are too. Let me know if you get anything to work!

[2021-08-05 04:49] Kohlsen opened #46 "Captcha solver error Evaluation failed: TypeError: Cannot read property 'getAttribute' of null"
Getting this error back when the captcha solver runs on footelocker.com

The only spot I see .getAttribute is in captcha.js ->
   ` const googleKey = await context.evaluate(({ captchaSelector: captchaDivSelectorStr, captchaIframeSelector:
      captchaIframeSelectorStr }) => {
      const captchaDiv = captchaDivSelectorStr && document.querySelector(captchaDivSelectorStr);
      const iframe = capt

[2021-08-08 16:43] samc621 commented on #46
@Kohlsen thanks for opening this Issue, please see #47 for the latest on this issue.

[2021-08-09 12:48] RamoSterious opened #48 "No Supported Proxies"
So I was having an issue with ``Error: net::ERR_CONNECTION_RESET`` on every site and after playing around I made the headless object true as it was false and made the timeout 0 for the close modal, but now I am getting proxies not supported and I have over 100K proxies added to the db and they are all in the correct format and all working for me when tested

[2021-08-09 13:17] samc621 commented on #48
Can you take a look at the changes made in #40 and let me know if this works for you?

[2021-08-09 14:01] RamoSterious commented on #48
@samc621 Now it is working but I am getting 429 error now

[2021-08-09 22:31] samc621 commented on #48
This is on Nike I assume? Please check #28.

[2021-09-13 07:51] edenhikri opened #49 "Starting new tasks"
Hi there,

I have setup everything and am trying to start a new task using python3. I used your script from postman which was this one:

.env.local
[code]

[code]

However it returns:
[code]

I can post the full error if need be.

Also, when I go to `127.0.0.1:4444`, it gives me `Cannot GET /`

Edit: If I change `url = '127.0.0.1:4444'`  to `url = http://127.0.0.1:4444' then I get this:

[code]

[2021-09-17 20:48] 13ROY commented on #49
I haven't had a chance to take a look at this myself yet. But judging by the database error you are receiving, it looks as though your billing address (entry 2) may not exist in the database. If you use postman to GET `/v1/addresses` what entries do you get back? Does an ID of 2 get returned?

[2021-09-17 21:09] 13ROY commented on #33
@samc621 and @labboy0276 , based on the discussions and the closed PR https://github.com/samc621/SneakerBot/pull/39, I am guessing we can close this issue?

[2021-09-18 01:37] samc621 commented on #33
@13ROY yes, I am closing this issue now.

[2021-09-18 01:37] #33 closed

[2021-09-18 01:38] #23 closed

[2021-09-18 01:39] samc621 commented on #43
Closing due to inactivity.

[2021-09-18 01:39] #43 closed

[2021-09-18 01:39] samc621 commented on #44
@bryank91 closing due to inactivity, but feel free to open the PR!

[2021-09-18 01:39] #44 closed

[2021-09-18 01:40] samc621 commented on #49
@13ROY yes, I spoke with @edenhikri over telegram and that was indeed the issue. Closing now.

[2021-09-18 01:40] #49 closed

[2021-09-21 22:35] jhgeluk commented on #28
I'm also experiencing this issue on nike.com. When replicating the "clickthrough/search" behaviour on my own browser it doesn't occur

[2021-09-21 22:42] samc621 commented on #28
@jhgeluk yes, I think it has something to do with the browser fingerprint and/or the speed of the navigations. I have some potential solutions for this, including:

1. Randomizing all of the `window.navigator` properties.
2. Using puppeteer to emit mousemovement events when clicking a DOM node.
3. Using more delay in between certain actions.

I just haven't had time to implement this, but if someo

[2021-09-22 12:18] samc621 commented on #48
Closing due to inactivity.

[2021-09-22 12:18] #48 closed

[2021-09-23 00:28] samc621 commented on #28
@13ROY could you take a look at his when you get a chance?

[2021-09-27 07:59] jhgeluk commented on #28
I feel like they mostly check the browser fingerprint, I've simulated mouse movements & keyboard movements and even added a randomized amount of links it will visit before entering nike to create a sort of "browser history".

[2021-09-27 13:41] samc621 commented on #28
@jhgeluk yes, the browsing history was a good idea for creating a cookie profile. Have you checked `window.navigator` in the console? These are many of the properties used by fingerprinting libraries, and `puppeteer-extra` does a good job of randomizing some of them, but we can do more on top of that. We can also look through Nike's FE code for the fingerprinting code which might be stopping this.

[2021-09-30 08:34] jhgeluk commented on #28
Looks like puppeteer is also missing an event listener for Network.responseReceivedExtraInfo, this might trigger some libraries like FingerprintJS

[2021-09-30 13:58] samc621 commented on #28
@jhgeluk  yes that makes a lot of sense, can you try to identify what libraries Nike might be using? That way we can reverse engineer to a solution. This is commonly how I solve issues like this.

[2021-10-11 01:24] kiddkrypto opened #58 "Error running the Dockerfile"
I have the .env.docker file in the directory but i am getting the following error. Can you help me get this started?

 docker run -p 5900:5900 -p 8000:8000 --env NODE_ENV=docker --env-file .env.docker sneakerbot
environment name: docker
wait for DB to start
DB host: jerry
running DB migration scripts

Error: No configuration file found and no commandline connection parameters passed
    at mkConfi

[2021-10-29 22:51] samc621 commented on #58
@kiddkrypto the `--env-file` flag will let you specify the file to use, can't imagine why that wouldn't work.

[2021-11-16 04:22] delamae opened #59 "Example post request fails (Insert into... violates foreign key constraint)"
From the docs https://documenter.getpostman.com/view/5027621/TVt2c3ed

I tried

--header 'Content-Type: application/json' \
--data-raw '{
    "site_id": 1,
    "url": "https://www.nike.com/t/lebron-18-black-white-basketball-shoe-M6DgN2/CQ9283-100",
    "style_index": 1,
    "size": "8.5",
    "shipping_speed_index": 0,
    "billing_address_id": 2,
    "shipping_address_id": 2,
    "notification_em

[2021-11-16 13:28] samc621 commented on #59
Hi @delamae,

`billing_address_id` and `shipping_address_id` are foreign keys. Have you created a billing address in your DB with an ID of two? If not, that's an invalid foreign key ID in your payload (that's what this error is suggesting). You need to create an address before you can create a task, because the address ID is used in the payload.

[2021-11-17 03:00] delamae commented on #59
Success.
`{"success":true,"message":"Task successfully created","data":{"id":10,"site_id":1,"url":"https://www.nike.com/t/lebron-18-black-white-basketball-shoe-M6DgN2/CQ9283-100","style_index":1,"size":"8.5","shipping_speed_index":0,"billing_address_id":2,"shipping_address_id":2,"notification_email_address":"jsmith@gmail.com","created_at":"2021-11-17T02:44:30.915Z","updated_at":"2021-11-17T02:44:3

[2021-11-17 03:00] #59 closed

[2021-11-17 04:06] delamae opened #60 "Feature request: Add promo/coupon code option for Shopify"
.Closing

[2021-11-17 22:33] delamae commented on #60
Oh, I just realized all these fields are probably being populated with POST requests, rather than traversing the DOM. My mistake. Looks like the reduction code can be in postData params as
            ` {
                "name": "checkout%5Breduction_code%5D",
                "value": ""
              }`

[2021-11-19 09:54] #60 closed

[2021-11-19 13:48] samc621 commented on #60
HI @delamae thanks for opening this issue and also investigating it yourself! If you do go ahead and implement this field, do you mind submitting a Pull Request so we can add it to the codebase? That way everyone can benefit from it. Thanks!

[2021-11-19 15:12] delamae commented on #60
Sure thing. I cleared my comment and OP because I was so off base, I didn't want to confuse anyone, hah. I also noticed some sites have unique selectors, but because Playwright's syntax is pretty simple, they're easy to change out, but at the same time not always consistent enough for the codebase.

As far as the pull request, I'll send one if I get it working. I haven't tested this yet, but what

[2021-11-19 15:15] samc621 commented on #60
@delamae nice, feel free to put up the PR and I will test it! Btw, we're on Puppeteer, which is syntactically similar to Playwright, but just wanted to correct that.

[2021-11-19 15:17] delamae commented on #60
Ah yes, I'm working simultaneously on a Playwright project. I think the has-text in the above code is a Playwright thing, so I'll find another way if it is.

[2021-11-19 15:55] delamae commented on #60
I think this may be puppeteer's syntax to add the promo code, but I haven't tested it:
[code]
where 'button.field__input-btn.btn' is attempting to be the selector for
[code]

I think a promo code would be the kind of thing better to store in the db or some .json like the CC's rather than the .env, but I haven't studied that part of the repo yet to get an idea of how to best take it from there.

[2021-12-05 23:59] samc621 commented on #58
Closing due to inactivity.

[2021-12-05 23:59] #58 closed

[2021-12-06 02:06] james5101 opened #61 "TypeError: Cannot read properties of null (reading 'querySelectorAll')"
Hi, I am trying to run a task and am receiving the following error.
![image](https://user-images.githubusercontent.com/16067136/144775877-52fc691b-4801-4ffa-bc42-3620f3b8feee.png)

Not sure if its a code issue or an issue with my payload.

[2021-12-06 14:09] samc621 commented on #61
@james5101 thanks for the stack trace, can you paste the task payload you're using? I'll try to repo this issue. Seems like the `document` object is null on the window.

[2021-12-06 15:13] james5101 commented on #61
@samc621 Sure thing, here is the payload for the task creation:
{
      "site_id": 5,
      "url": "https://www.supremenewyork.com/shop/tops-sweaters/vf80od3z4/kxesnt6v7",
      "style_index": 1,
      "size": "M",
      "shipping_speed_index": 0,
      "billing_address_id": 1,
      "shipping_address_id": 1,
      "notification_email_address": "jamescnoonan@yahoo.com"
    }

I tried a couple diff

[2021-12-16 15:56] kiddkrypto opened #62 "Docker/docker compose: error when launching"
When I launch either docker or docker-compose I get the same error on npm. Not sure what the actual problem is, but it seems like it cant connect or set up the database correctly, so I need some guidance on this. I would prefer to use docker-compose.

postgres_1  |
postgres_1  | PostgreSQL Database directory appears to contain a database; Skipping initialization
postgres_1  |
postgres_1  | 2021-12

[2021-12-17 03:13] samc621 commented on #62
Can you show me the command you are using for starting up with docker-compose? And also your `.env.docker` file (feel free to obfuscate any sensitive information).

I see this line: `Error: getaddrinfo ENOTFOUND jerry` which suggests to me that something is misconfigured. Not sure where "jerry" is coming from but I'm guessing that's your default DB user because you haven't configured the env prope

[2021-12-17 03:48] kiddkrypto commented on #62
I am using
docker-compose build
 then
 docker-compose up
 jerry is from DB_HOST=jerry in the .env.docker file

[2021-12-17 03:50] kiddkrypto commented on #62
PORT=8000

DB_USERNAME=testjerry
DB_PASSWORD=jerry
DB_NAME=Jerrytestsneak
DB_PORT=5432
DB_HOST=jerry

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=kiddkrypto
EMAIL_PASSWORD=

CARD_NUMBER=
NAME_ON_CARD=
EXPIRATION_MONTH=
EXPIRATION_YEAR=
SECURITY_CODE=

API_KEY_2CAPTCHA=

WEBHOOK_ENDPOINT=

[2021-12-17 13:37] samc621 commented on #62
@kiddkrypto ahh, yes. That's the issue. If you take a look at the `docker-compose.yml` file in the root directory, you will see that the `postgres` service is initialized with a new environment variables. The `postgres` image uses these to create a default user and DB. So, in the context of your container, you need to add those same values into your `.env.docker` or it will not work. Remember, `Do

[2021-12-17 14:40] kiddkrypto commented on #62
@samc621 i copied the data from docker-compose to the .env.docker file and build and ran it and has same error. The only one that doesnt has a varible in docker-compose file is DB_HOST, i am assuming that should be ok? if not maybe thats the problem but i ran it without anything and it will just give ip address but with the same error.

[2021-12-17 14:53] samc621 commented on #62
@kiddkrypto ok so the `DB_USERNAME`, `DB_PASSWORD`, and `DB_NAME` are the same, right? You can use `5432` for the `DB_PORT` but the `DB_HOST` needs to match the name of the Docker service, which is `postgres` (unless you edited it in the `docker-compose.yml` file.

[2021-12-17 15:28] kiddkrypto commented on #62
@samc621 ok got it. that worked. But when logging into the vnc i just have a blank black screen. not sure if something else maybe the issue?

[2021-12-17 15:29] samc621 commented on #62
@kiddkrypto have you started a task? At that point, Puppeteer should launch Chromium and that's when you would see something.

[2021-12-17 15:35] kiddkrypto commented on #62
@samc621 no i havent i was actually trying to find in th doc how to run it for docker but maybe a little unclear.

[2021-12-17 15:44] samc621 commented on #62
@kiddkrypto check out the docs in the README, it's the same whether you are using Docker or not. You need to store tasks in the DB and can use the API for that. Check out the API docs and let me know if anything is still unclear.

Now that you got this running, I'm going to close this for now. Feel free to open a new issue if any troubles persist.

[2021-12-17 15:44] #62 closed

[2021-12-17 20:32] kiddkrypto opened #63 "Adding New Feature: Future Auto Start"
I got the app to work and does a great job so far from what i see. I have been able to buy anything but i noticed i will have to be at my computer when a shoe drops in order to get a chance to get them. is there a way we can schedule these tasks?

[2021-12-17 20:37] samc621 commented on #63
@kiddkrypto that's a great suggestion and something I've planned to add at some point when I find time. We can allow the user to set a start date/time for the task and then use something like [node-schedule](https://github.com/node-schedule/node-schedule) to schedule its execution.

If you or anyone else feels led to add such a feature, please feel free to submit a Pull Request and I will happy re

[2021-12-21 16:52] kiddkrypto commented on #63
@samc621 also how can I set this app up to buy in bulk?

[2021-12-22 13:11] samc621 commented on #63
@kiddkrypto you can create a `Task` for each order you want to create. So you can supply a different billing address, shipping address, and payment method for each.

[2021-12-22 13:50] kiddkrypto commented on #63
@samc621 can you do multiple sizes in one task?

[2021-12-23 00:37] samc621 commented on #63
@kiddkrypto no you cannot, each task is designed to order a single item. So if you want 2 sizes of a shoe, create two tasks. I recommend checking out the API docs/DB schema.

[2022-01-10 18:29] marrik96 opened #64 "Docker with docker-compose build error"
Configured Dockerfile, .env.docker, db-data folder.  docker-compose dies at step 18/20

....
Step 18/20 : RUN chmod +x ./container_start.sh
 ---> Running in 05025cd59ad0
chmod: cannot access './container_start.sh': No such file or directory
ERROR: Service 'server' failed to build: The command '/bin/sh -c chmod +x ./container_start.sh' returned a non-zero code: 1

[2022-01-11 00:56] samc621 commented on #64
Hi @marrik96 thanks for pasting the error output. This is weird, because the file is definitely there. Can you let me know what OS you are on, and what version of Docker and Docker Compose you are using? I will try to reproduce this error when I find a minute.

[2022-01-11 14:53] marrik96 commented on #64
Ubuntu 20.04.3 LTS
Docker version 20.10.12, build e91ed57

Is the file something that is downloaded via script, or I should manually download?  In my docker directory I have the following files.  Dockerfile, docker-compose.yml, package.json, and db-data directory.

Thanks for assisting!

[2022-01-11 15:11] samc621 commented on #64
The file is in the root directory, you should see it there. Did you create a separate directory with those files? Or are you referring to a directory inside the Docker container? That seems not necessary. If you run docker-compose from the root directory, it should work fine.

[2022-01-11 15:14] marrik96 commented on #64
I created a "sneakerbot" directory and put all files there.
![2022-01-11_9-13-03](https://user-images.githubusercontent.com/22241571/148969179-bff8ff19-8646-44a0-96b5-94cd05a85543.png)

[2022-01-11 15:25] samc621 commented on #64
This is going to work, the error makes sense now. You need to put all of the files there, or just run Docker commands from the root directory of the project. You can't build the Docker image with missing files.

[2022-01-11 15:32] marrik96 commented on #64
yeah.  dumb on my part.  I did not clone repo.  I just grabbed the few files I thought I needed.  It worked!

![image](https://user-images.githubusercontent.com/22241571/148972461-7c135c55-3233-42b4-8735-ecbe5934d6e8.png)

[2022-01-11 15:34] samc621 commented on #64
Ok great! Closing this for now, feel free to open a new issue if anything comes up.

[2022-01-11 15:34] #64 closed

[2022-01-13 01:21] camille-vo commented on #61
Had this problem too - there's a typo on line 228 of supremenewyork.js
`        const form = document.querySelector('div#cctrl form#cart-addf')
`
Changed cart-addf to cart-add and it worked fine

[2022-01-13 01:47] samc621 commented on #61
@camille-vo nice find! Can you submit a PR to fix this? I will happily review and merge.

[2022-01-13 21:32] camille-vo commented on #61
@samc621 Sure! This is my first time contributing to a public repo, so hopefully I did the process correctly
Do you have an idea for a UI? I'd love to build one if you have an idea of the layout you'd want etc.

[2022-01-26 19:38] mbw290 opened #66 "database tables don't exist"
insert into "addresses" ("address_line_1", "city", "country", "email_address", "first_name", "last_name", "phone_number", "postal_code", "state", "type") values ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10) returning * - relation "addresses" does not exist

[2022-01-26 19:58] samc621 commented on #66
@mbw290 did you run the migrations? See [here](https://github.com/samc621/SneakerBot#run-the-db-migrations).

`knex migrate:latest`

Please follow each of the setup instructions in the README.

[2022-01-26 22:07] willymmerlet12 opened #67 "Not in cart, trying again"
While making a task for nike.com I get this error and throw the bot to login on your nike account.
<img width="1183" alt="Screenshot 2022-01-26 at 17 02 53" src="https://user-images.githubusercontent.com/60224467/151254793-a89c0b3b-92a6-4e02-ba0a-e922a1fcb51c.png">

This is my log :
<img width="449" alt="Screenshot 2022-01-26 at 17 03 17" src="https://user-images.githubusercontent.com/60224467/151

[2022-01-26 22:15] samc621 commented on #61
Closing this as it's now resolved.

[2022-01-26 22:15] #61 closed

[2022-01-26 22:15] samc621 commented on #66
Closing this, feel free to reopen if any issues persist.

[2022-01-26 22:15] #66 closed

[2022-01-26 22:17] samc621 commented on #67
It's hard for me to understand the specific issue you're facing based on your message and screenshots, but think that this is a duplicate of #28, please find more information there. Closing this.

[2022-01-26 22:17] #67 closed

[2022-01-28 00:26] mbw290 opened #68 "Cannot read properties of undefined (reading 'click')"
[1/27/2022, 7:22:43 PM] - No product code supplied, navigating to URL
[1/27/2022, 7:22:46 PM] - Selecting style
[1/27/2022, 7:22:46 PM] - TypeError: Cannot read properties of undefined (reading 'click')
    at Object.exports.guestCheckout (/home/user/SneakerBot/sites/footsites.js:344:32)
    at processTicksAndRejections (node:internal/process/task_queues:96:5)
    at async /home/user/SneakerBot/he

[2022-01-28 00:49] mbw290 commented on #68
Does anyone have a fully working example?  This doesn't work for me

curl --location -g --request POST '127.0.0.1:8080/v1/tasks' \
--header 'Content-Type: application/json'\
--data-raw '{
    "site_id": 2,
    "url": "https://www.footaction.com/product/nike-challenger-og-mens/W7645003.html",
    "style_index": 1,
    "size": "12",
    "shipping_speed_index": 0,
    "billing_address_id": 2,
    "sh

[2022-02-04 11:24] Strandz1 opened #69 "Issue setting up APIs"
Hey I have managed to get the bot started up until the (npm start) command and I am struggling with getting the APIs to send the address, task and proxy information to the relevant port. I copied the code from the POST website and filled it in with my details and for the URL I put http://127.0.0.1:8080/(the relevant part). However when I input this curl command into the terminal it says several er

[2022-02-04 17:54] samc621 commented on #69
@Strandz1 looks like you have the server running, nice! Can you show me the request you are making to the API? This error suggests that there's something wrong with the request payload or a missing/wrong header that's causing Express to fail to parse it.

[2022-02-04 18:12] Strandz1 commented on #69
Thanks for the reply! So I have also discovered that when I run " npm run lint " this error appears...![image](https://user-images.githubusercontent.com/99020429/152580299-4d11b489-1f00-4a44-89fb-848c708bead9.jpeg)

I'm not sure if this is related to the issue but yh. I have attached below a screenshot of the command I inputted and the result it gave.
Thanks again!              [image](https://use

[2022-02-04 19:22] samc621 commented on #69
@Strandz1 thanks for mentioning the linting errors, I will fix those.

Looks like your error is caused by the spaces around the URI. Try `"http://127.0.0.1:8080/v1/addresses"` (no spaces inside the quotes).

[2022-02-04 19:26] Strandz1 commented on #69
I tried that and it comes up with curl: (3) URL using bad/illegal format or missing URL

[2022-02-04 20:55] samc621 commented on #69
@Strandz1 oh sorry, you will need to use single quotes as well.

[2022-02-05 11:24] Strandz1 commented on #69
![image](https://user-images.githubusercontent.com/99020429/152640006-93ce5a55-31f7-491a-8936-5aead22b9a5d.jpeg)

Hey, it still shows this error

[2022-02-05 11:26] Strandz1 commented on #69
![image](https://user-images.githubusercontent.com/99020429/152640108-a9931512-7f6f-4f4a-b4f2-a1dc3ddf92bb.jpeg)
Hey it still shows this error

[2022-02-05 12:55] samc621 commented on #69
@Strandz1 the picture is very blurry, I suggest using screenshots. From what I can see, your issue now is that you have an open quote and no closing quote around the URI...

[2022-02-05 16:20] Strandz1 commented on #69
I figured out how to make the link work but now it hits me with this
<img width="1396" alt="Screenshot 2022-02-05 at 16 19 05" src="https://user-images.githubusercontent.com/99020429/152649719-1980135e-235a-47c1-8cf1-ae337f7bd1a5.png">

[2022-03-22 20:35] SLEsserman opened #70 "Having issues running npx knex migrate:latest + Password"
<img width="568" alt="Screen Shot 2022-03-22 at 4 32 52 PM" src="https://user-images.githubusercontent.com/59885495/159570827-ce51138c-58ce-4adf-955f-1ceee973cab5.png">
<img width="308" alt="Screen Shot 2022-03-22 at 4 33 47 PM" src="https://user-images.githubusercontent.com/59885495/159570957-b8e0766a-59d4-4b8b-ac53-f0255f8273a6.png">

[2022-03-23 00:00] samc621 commented on #70
@SLEsserman I haven't seen this before. I assume you made a new file like `.env.local` or `.env.development`, where you're keeping those vars, right? Did you specify the proper `NODE_ENV` name in the terminal? E.g. `export NODE_ENV=local` ? If so, I would try a debug statement like `console.log(process.env.DB_PASSWORD)` in `knexfile.js` to see if the variable is being read properly.

[2022-04-01 01:55] samc621 commented on #69
Hi @Strandz1, I am hoping you've resolved this issue by now. I am going to close it, feel free to open a new one if the issues persist.

[2022-04-01 01:55] #69 closed

[2022-04-01 01:56] samc621 commented on #70
Hi @SLEsserman I hope that you've been able to sort this by now. Closing it, but feel free to open a new one if the issues persist.

[2022-04-01 01:56] #70 closed

[2022-04-12 00:01] abhingupta commented on #63
---- Hey man, can you help me with how to run this code? Trying to buy one of the drops for my nephew. TIA

[2022-04-12 02:45] abhingupta commented on #63
@samc621 Thanks, Sam! figured it out! Thank you. I am also running into the CORS issue that's already reported as a bug.

[2022-04-12 16:05] abhingupta commented on #28
Hi, I've been trying to resolve this but to no avail. I've tried inputting custom headers and disabling web security for now.  Sam, any thoughts on how we can fix this?

[2022-04-12 19:50] samc621 commented on #28
@abhingupta there's a lot of things we can try here:

We are already randomizing the user agent but I would try [Playwright](https://www.npmjs.com/package/playwright) with another browser like Firefox. I would try adding delay between the interactions. I would try to make sure that the browser emits mouse movement and click down events. I would check the network requests tab to see if there any re

[2022-04-14 15:00] bklynate opened #75 "Fix issue with stopping tasks"
I noticed inside `helpers/task-cache.js` we have this particular function declared:
[code]
We can remove `this` from `const page = this.retrievePageFromTaskCache({ taskId });` and that should resolve the issue with stopping tasks.

I have a branch with the fix but I can't push it to this repo. easy fix.

<img width="711" alt="Screen Shot 2022-04-14 at 10 10 50 AM" src="https://user-images.githubus

[2022-04-14 15:05] bklynate commented on #75
PR for review: https://github.com/samc621/SneakerBot/pull/76

[2022-04-14 15:09] #75 closed

[2022-04-16 16:19] bklynate commented on #28
<img width="573" alt="Screen Shot 2022-04-16 at 12 15 31 PM" src="https://user-images.githubusercontent.com/4186033/163682954-9dc0398f-20c1-4ed8-bfc8-6f9f2542953f.png">

Is this error related to this bug as well?

Here is the task I am using to get this bug...

[code]

[2022-04-16 17:26] samc621 commented on #28
@bklynate yes it's the same issue. If you look in the Network tab, you should see some 429 errors.

[2022-04-16 18:41] bklynate commented on #28
**RANDOM OBSERVATION**
I've noticed even with `PARALLEL_TASKS=1` Chrome opens two windows when beginning a task, why is that? And could that be the source of the issue?

[2022-04-16 19:08] samc621 commented on #28
@bklynate I'm pretty sure that is because of how `puppeteer-cluster` works. It always has an extra page/browser (depending on the concurrency context you choose). It's similar to how `puppeteer` opens a blank page when it starts up.

I think the issue is more likely to be related to the browser fingerprint. There's a lot of things that antibot softwares use to detect bots, but one of the easiest o

[2022-04-24 03:44] bklynate commented on #28
I've tried changing browsers (Firefox) and forcing the use of Chrome instead of Chromium, but none of that has worked thus far.

[2022-05-18 10:05] Bedi58 opened #77 "Sniping shoes"
I just wanted to ask if shoe sniping can be done with the bot. From the readme I could not quite read it out. Is this here only to automate buying published shoes?

[2022-05-18 11:42] samc621 commented on #77
@Bedi58 there is support for product code monitoring, see [this](https://github.com/samc621/SneakerBot#update-as-of-05302021) section of the README. However, there is not any advanced sniping at the moment. Feel free to open a PR if you make any additions in this area!

[2022-05-30 03:07] ethanlaj commented on #28
Is this still an active problem?

[2022-05-30 14:46] samc621 commented on #28
@ethanlaj Yes I believe so, I haven't seen a PR to fix it. If you get around to it, feel free to open one and I'll happily review it.

[2022-06-01 22:21] bpnis opened #78 "'knex migrate: latest' issue"
I am having a problem with running the knex migrate: latest command on windows, similar to other people. I've tried running the following command in powershell (which i found in a solved issue) , but it hasn't worked for me. Any ideas?

![powershell](https://user-images.githubusercontent.com/106709611/171511125-96d2b022-711e-4ca0-b440-63c7550455e1.PNG)

Thanks in advance.

[2022-06-02 02:53] samc621 commented on #78
@bpnis can you try `$ set NODE_ENV=local` ? See https://github.com/samc621/SneakerBot#windows

[2022-06-02 19:58] bpnis commented on #78
I just tried it, and this is what I got:

![2022-06-02](https://user-images.githubusercontent.com/106709611/171727447-315d80c3-4061-4472-beb6-20e375d4f1a2.png)

Thank you so much for the help by the way, I really appreciate it!

[2022-06-02 20:21] samc621 commented on #78
@bpnis sorry for the confusion, the "$" in all of the commands is not meant to be typed. It's just supposed to indicate that it's something you enter in the shell/terminal. So just enter `set NODE_ENV=local`.

[2022-06-02 20:25] bpnis commented on #78
Yep that worked lol. Thank you so much, I'm new to Javascript so i guess its a rookie mistake. I'll go ahead and close the issue.

[2022-06-02 20:25] #78 closed

[2022-06-21 15:53] edfrommathclass opened #79 "Question (Not really an issue): Has anyone had any success getting this to work recently on launch day?"
I compiled this bot about two weeks ago and have tried it on various sites (Nike, Footlocker, DTLR, Hibbet, Snipes) and it doesn't seem to successfully place an order on any site I try on launch day.

I know the bot is working cause if I try it on shoes that are already live, it gets to the end and places the order. I just can't seem to get it to work on launch day. On Nike, I know there is an exi

[2022-06-21 17:34] samc621 commented on #79
@edfrommathclass do you have a log output from the Footsites or Shopify? This is the only way I can begin to investigate it. There's many possible issues there. For example, there may be a different type of captcha and we may also need to improve the antibot evasion. I do try to actively maintain this project but don't have much time these days and am still seeking more contributors, so any help w

[2022-06-21 17:34] samc621 commented on #77
Closing due to inactivity.

[2022-06-21 17:34] #77 closed

[2022-06-21 23:23] samc621 commented on #79
Hi @edfrommathclass I haven't used the bot on launch day recently. But when I used it in the past, I would start the monitoring functionality 5-10 minutes before a release. When the product goes live, it will do the rest. I don't think the timing is what is causing the captcha issues, that sounds like something else.

As for proxies, I have used Luminati (now BrightData) for a while now. They're c

[2022-06-21 23:27] edfrommathclass commented on #79
@samc621 Ahh okay. Yeah didn't think that was the issue just wanted to understand when I should get the bot going. I've never used one before :p Does the bot continue to look for the product code if it does not find it? Haven't really looked at the code too much yet.

Got it. Cool I'll check them out.

Really appreciate you taking the time to answer my questions man.

[2022-07-05 21:14] elManto commented on #28
Question have you experienced this issue with ALL websites or just with the nike website? At least I know where to start my investigation to understand which component performs the actual fingerprinting job

[2022-07-05 23:38] samc621 commented on #28
@elManto only on Nike.

[2022-07-07 21:25] elManto commented on #28
Update, at least if someone is working on this he doesn't have to re-invent the wheel.
1) I use this site https://amiunique.org/fp to compare the fingerprint of my  browser with one managed by puppeteer both headless and with GUI. In the GUI case I'd say the only difference is probably a plugin missing, I think that is not enough to block our requests
2) I had a quick look at the nike page, this l

[2022-07-13 01:18] Kempeter opened #80 "Read.md"

[2022-07-13 01:19] #80 closed

[2022-07-22 19:53] aditya-pushkar commented on #28
@samc621 I managed to get around this problem with puppeteer, but the solution was not scalable, so I decided to try ( Playwright ), and it worked. Here is the some basic code I wrote.

`
const { webkit } = require('playwright');

(async () =>  {

    const browser = await webkit.launch({headless: false});
    const page = await browser.newPage();

    const url = "https://www.nike.com/in/t/air-fo

[2022-07-23 17:11] samc621 commented on #28
@elManto @aditya-pushkar thank you both for your work here, and sorry for the delay in the response as I've gotten very busy. It seems to me that there are many potential solutions so I think the best step forward is to identify the constraints and then agree on the best solution within those constraints.

1.  I have recently seen more websites that are blocking just on the basis of detecting Chro

[2022-07-25 16:57] aditya-pushkar commented on #28
@samc621 Just an update I tried puppeteer Chrome with a custom executablePath and saved the browser session with userDataDir, but the bot is still detectable.

The bot is not able to pass the detection test on [Creepjs](https://abrahamjuliot.github.io/creepjs/).

I think we have to modify the **fingerprint**.

[2022-07-25 17:05] samc621 commented on #28
@aditya-pushkar what version of Chrome did you use? Did you try removing any of the launch args? And did you launch in headless or headful? Some info will help me verify from my end.

[2022-07-25 18:28] aditya-pushkar commented on #28
@samc621
* Version: 103.0.5060.134
* --user-agent arg  is used
* Tested on Headful

[2022-08-02 17:41] aditya-pushkar commented on #28
@samc621

Can you help me with this? I have a use case in which multiple users can request different tasks at the same time, and for each task, a new puppeteer instance should start running immediately without getting queued.

However, the single-threaded nature of Node is the issue. Whenever we want to run a CPU-intensive task, it processes a single request at a time, and other tasks get queued.

[2022-08-03 00:25] samc621 commented on #28
@aditya-pushkar not sure I understand your issue. I also think this might belong on a separate issue, but I'll try to help anyways.

So is your issue starting multiple tasks from the API in parallel? Is it a Puppeteer issue or a Node issue?

On the Puppeteer side, this shouldn't be a problem as long as you set an appropriate `maxConcurrency` for Puppeteer Cluster (you can use the `PARALLEL_TASKS`

[2022-08-07 20:13] aditya-pushkar commented on #28
@samc621 Thank you very much.

[2022-08-12 17:16] NikhilRN18 opened #82 "Having issue running npx knex migrate:latest"
I keep getting the error: knex: Required configuration option 'client' is missing.
I have tried the previous solution of set NODE_ENV=local in PowerShell, however that hasn't helped either.
![knexerror](https://user-images.githubusercontent.com/107941991/184410205-91bb1d7e-5c3c-4e7d-b41f-26aaa326db74.png)

[2022-08-15 11:31] Jayjdd2 commented on #82
Having the same issue as above. Tried previous solution and none working

[2022-08-15 12:13] samc621 commented on #82
@Jayjdd2 thanks for the comment. Yes, on Windows you need to use SETX, as documented in the README.

I'm closing this now, but feel free to open a new Issue if any problems persist.

[2022-08-15 12:13] #82 closed

[2022-08-18 20:22] Dropio12 opened #83 "Issue: sql: select * from "proxies" where "is_deleted" = ?"
What am I supposed to write after this?  It doesnt let me put any characters in the terminal after this. Thanks for the help!
![eror](https://user-images.githubusercontent.com/93799788/185487464-a24d94f8-6a60-4068-9bcb-cd3e0101243e.PNG)

[2022-08-19 02:18] samc621 commented on #83
@Dropio12 that is not an error log, it's just a debug statement from PG. You have the server running now, so you can use the API to create addresses and tasks. I suggest following the instructions in the README. I am going to close this Issue, please feel free to open a new one if any issues persist.

[2022-08-19 02:18] #83 closed

[2022-09-10 07:46] Un1xMida opened #84 "can migrate with npx knex migrate:latest"
i can migrate using npx knex migrate:latest because of this error
[code]

[2022-09-10 11:23] samc621 commented on #84
This error occurs because you have not set your NODE_ENV. Please see the instructions in the README.

[2022-09-10 11:23] #84 closed

[2022-09-10 11:27] Un1xMida commented on #84
should i set all properties ? there is no optional properties ?
like the smtp or the credit card info or the captcha.

[2022-09-10 11:37] Un1xMida commented on #84
i have set everything but the webhook value

[2022-09-10 21:04] Un1xMida opened #85 "cant migrate the database."
[code]
i have everything in my .env file expect the webhook

[2022-09-10 22:10] Un1xMida commented on #85
node version : 16.10.0
issue fixed by editing the knexfile.js

[code]

[2022-09-10 22:11] Un1xMida commented on #85
i can create pr if u want.

[2022-09-10 23:18] samc621 commented on #85
It's not clear what you changed, but feel free to open a PR.

[2022-09-10 23:18] #85 closed

[2022-09-16 07:10] Un1xMida opened #86 "deploy on heroku"
hello how can i deploy this project on heroku ?

[2022-09-16 14:05] #86 closed

[2022-09-16 14:06] Un1xMida commented on #86
thanks a lot i will check it out.

[2022-10-31 15:40] NikhilRN18 opened #87 "Actually using this bot"
This is a really cool concept, but I was wondering if people are actually able to cop sneakers using this.

[2022-10-31 18:15] samc621 commented on #87
@NikhilRN18 when I first wrote this project, I was able to use it to cop on any of the supported sites with decent success. A few of the sites have changed and the bot needs some updates but I just haven't had the time to work on it. I was also working on a browserless, request-based version but also don't have the time to continue on it. I think that with some community support, this bot could be

[2022-11-29 02:32] #87 closed

[2022-11-29 02:32] #79 closed